@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .somek {
    display: none;
  }
  @page {
    size: A4;
  }
}
.somek {
  width: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: rgb(175, 116, 230);
  color: white;
}
